.request {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: $black;
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/bg-request@1x.png");
  background-size: cover;
  padding: 47px 43px 52px;
  color: $white;

  margin-top: 20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-request@2x.png");
  }
}

.request__slogan {
  text-transform: uppercase;
  font-size: 39px;
  line-height: 39px;
  font-weight: 500;
  display: flex;
  margin-bottom: 30px;
}

.request__sale-percent {
  color: $red;
}

.request__sale {
  margin-right: 10px;
}

.request__text {
  text-transform: uppercase;
  font-weight: 500;
  width: 472px;
  margin-bottom: 27px;
}

.request__item {
  border: none;
  padding: 0;
  margin: 0 18px 0 0;
  position: relative;
}

.request__item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: top 0 left 0;
  width: 16px;
  height: 16px;
}

.request__item--phone::before {
  background-image: url("../img/icons/icon-red-phone.svg");
  left: 17px;
  top: 14px;
}

.request__item--name::before {
  background-image: url("../img/icons/icon-user-red.svg");
  left: 15px;
  top: 12px;
}

.request__input {
  background-color: transparent;
  width: 200px;
  border: 1px solid $white;
  font-size: 14px;
  color: $white;
  padding: 13px 15px 13px 45px;
  outline: none;

  &--error {
    border-color: $red;
  }

  &--bounce {
    @include bounceAnimation;
  }
}

.request__input:hover {
  border-color: $grey;
}

.request__input:focus {
  box-shadow: 0 0 9px 7px rgba(255, 255, 255, 0.2);
}

.request__input--error:focus {
  border-color: $red;
}

.request__input::placeholder {
  font-family: "Helvetica", "Arial", sans-serif;
  color: $white;
  font-weight: 300;
  font-style: italic;
}

.request__button {
  @include reset-button;

  width: 201px;
  color: $dark-grey;
  background-color: $white;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  padding: 13px 45px 13px 24px;
  position: relative;
}

.request__button span {
  position: relative;
}

.request__button::after,
.request__button::before,
.request__button span::after,
.request__button span::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 1px;
  background-color: $dark-grey;

  right: 51px;
}

.request__button::after {
  transform: rotate(45deg);
  top: 21px;
  right: 32px;
}

.request__button::before {
  transform: rotate(-45deg);
  top: 25px;
  right: 32px;
}

.request__button span::after {
  transform: rotate(45deg);
  top: 10px;
  right: -31px;
}

.request__button span::before {
  transform: rotate(-45deg);
  top: 14px;
  right: -31px;
}

.request__button:hover,
.request__button:focus {
  color: $red;
}

.request__button:hover span::before,
.request__button:hover span::after,
.request__button:hover::before,
.request__button:hover::after,
.request__button:focus span::before,
.request__button:focus span::after,
.request__button:focus::before,
.request__button:focus::after {
  background-color: $red;
}

.request__button:active {
  background-color: $light-grey;
}

.request__form-wrap {
  display: flex;
}

@media (max-width: $mobile-width) {
  .request__form-wrap {
    flex-direction: column;
    align-items: center;
  }

  .request__item {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .request__input {
    width: 100%;
  }

  .request {
    padding: 40px 5% 35px;
    background-image: url("../img/backgrounds/bg-request-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-request-mobile@2x.png");
    }
  }

  .request__text {
    width: 100%;
    margin-right: 0;
  }
}
