.service {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 66px;
}

.service__title {
  text-align: center;
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
}

.service__devices-list {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service__advantages {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service__device {
  width: 100%;
  max-width: 555px;
  background-color: $light-grey;
  margin: 0 15px 41px;
  padding: 100px 0;
  background-repeat: no-repeat;

  &--camera {
    padding-left: 329px;
    background-image: url("../img/backgrounds/camera@1x.png");
    background-size: 221px 164px;
    background-position: top 66px left 16.61%;
  }

  &--lens {
    padding-left: 342px;
    background-image: url("../img/backgrounds/lens@1x.png");
    background-size: 142px 164px;
    background-position: top 73px left 22.66%;
  }
}

.service__name {
  font-size: 27px;
  line-height: 27px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.service__link {
  color: $dark-grey;
  font-weight: 500;
  font-size: 15px;
  width: 142px;
  display: inline-block;
  vertical-align: top;
  background-color: $white;
  padding: 12px 44px 11px 24px;
  position: relative;
}

.service__link span {
  position: relative;
}

.service__link::after,
.service__link::before,
.service__link span::after,
.service__link span::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 1px;
  background-color: $dark-grey;
}

.service__link::after {
  transform: rotate(45deg);
  top: 22px;
  right: 32px;
}

.service__link::before {
  transform: rotate(-45deg);
  top: 26px;
  right: 32px;
}

.service__link span::after {
  transform: rotate(45deg);
  top: 8px;
  right: -27px;
}

.service__link span::before {
  transform: rotate(-45deg);
  top: 12px;
  right: -27px;
}

.service__link:hover {
  color: $red;
  box-shadow: 0 0 15px 0 rgba(16, 17, 17, 0.4);
}

.service__link:hover::after,
.service__link:hover::before,
.service__link:hover span::after,
.service__link:hover span::before {
  background-color: $red;
}

.service__link:active {
  opacity: 0.7;
}

.service__item {
  width: 100%;
  max-width: 261px;
  background-color: $light-grey;
  padding-top: 142px;
  min-height: 264px;
  height: 100%;
  margin: 0 15px 36px;
  background-repeat: no-repeat;
  background-position: right 50% top 46px;

  &--delivery {
    background-image: url("../img/backgrounds/timer@1x.png");
    background-size: 57px 67px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/timer@2x.png");
    }
  }

  &--guarantee {
    background-image: url("../img/backgrounds/calendar@1x.png");
    background-size: 59px 63px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/calendar@2x.png");
    }

    .service__text {
      padding: 0 27px;
    }
  }

  &--nearby {
    background-image: url("../img/backgrounds/point@1x.png");
    background-size: 45px 64px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/point@2x.png");
    }

    .service__text {
      padding: 0 15px;
    }
  }

  &--courier {
    background-image: url("../img/backgrounds/courier@1x.png");
    background-size: 46px 62px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/courier@2x.png");
    }

    .service__text {
      padding: 0 20px;
    }
  }
}

.service__advantage-name {
  color: $red;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px;
}

.service__text {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 23px;
  text-align: center;
}

.service__repairing {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  background-color: $black;
  padding: 74px 0 62px 4.6%;
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/card@1x.png"), url("../img/backgrounds/ellipse@1x.png");
  background-position: right 60px bottom -69px, right 51px bottom 0;
  background-size: 362px 368px, 392px 239px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/card@2x.png"), url("../img/backgrounds/ellipse@2x.png");
  }
}

.service__guarantee-title {
  text-transform: uppercase;
  color: $red;
  font-weight: 500;
  font-size: 39px;
  line-height: 39px;
  margin: 0 0 19px;
}

.service__guarantee-title span {
  color: $white;
}

.service__repair-details {
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.service__description {
  line-height: 23px;
  color: $white;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
}

.service__guarantee-card {
  max-width: 603px;
  width: 100%;
  padding-right: 15px;
}

.service__arrow-button {
  display: none;
}

@media (max-width: $mobile-width) {
  .service {
    padding: 40px 5% 66px;
  }

  .service__device {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 30px;
    margin-bottom: 30px;

    background-position: top 20px left 50%;
  }

  .service__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .service__repairing {
    max-width: none;

    background-position: right 50% bottom -69px, right 50% bottom 0;
    padding: 30px 15px 300px;
  }

  .service__guarantee-card {
    max-width: none;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service__description {
    text-align: center;
  }

  .service__advantages {
    width: 261px;
    height: 264px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 20px;
  }

  .service__item {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;

    &--showing-slide {
      opacity: 1;
      z-index: 2;
    }
  }

  .service__button-wrap {
    width: 200px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
  }

  .service__arrow-button {
    @include reset-button;

    width: 40px;
    height: 30px;
    background-color: $light-grey;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    box-shadow: 0 3px 0 0 $dark-charcoal;
    top: 0;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .service__arrow-button:hover,
  .service__arrow-button:focus {
    top: 2px;
    box-shadow: 0 1px 0 0 $dark-charcoal;
  }

  .service__arrow-button:active {
    opacity: 0.7;
  }

  .service__arrow-button::before,
  .service__arrow-button::after,
  .service__arrow-button span::before,
  .service__arrow-button span::after {
    width: 10px;
    height: 1px;
    position: absolute;
    content: "";
    background-color: $dark-grey;
  }

  .service__arrow-button--previous::before {
    left: 10px;
    bottom: 10px;
    transform: rotate(45deg);
  }

  .service__arrow-button--previous::after {
    left: 10px;
    top: 12px;
    transform: rotate(-45deg);
  }

  .service__arrow-button--next::before {
    right: 10px;
    bottom: 10px;
    transform: rotate(-45deg);
  }

  .service__arrow-button--next::after {
    right: 10px;
    top: 12px;
    transform: rotate(45deg);
  }

  .service__arrow-button span {
    display: block;
    width: 20px;
    height: 10px;
    position: relative;
  }

  .service__arrow-button--previous span::before {
    top: 2px;
    right: 2px;
    transform: rotate(-45deg);
  }

  .service__arrow-button--previous span::after {
    bottom: 0;
    right: 2px;
    transform: rotate(45deg);
  }

  .service__arrow-button--next span::before {
    top: 2px;
    left: 2px;
    transform: rotate(45deg);
  }

  .service__arrow-button--next span::after {
    bottom: 0;
    left: 2px;
    transform: rotate(-45deg);
  }
}
