@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/oswald-regular.woff2") format("woff2"), url("../fonts/oswald-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/oswald-light.woff2") format("woff2"), url("../fonts/oswald-light.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/oswald-medium.woff2") format("woff2"), url("../fonts/oswald-medium.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/helvetica-neue-cyr-roman.woff2") format("woff2"), url("../fonts/helvetica-neue-cyr-roman.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: italic;
  font-display: swap;

  src: url("../fonts/helvetica-neue-cyr-light-italic.woff2") format("woff2"), url("../fonts/helvetica-neue-cyr-light-italic.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/helvetica-neue-cyr-light.woff2") format("woff2"), url("../fonts/helvetica-neue-cyr-light.woff") format("woff");
}
