$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$dark-grey: #272727;
$red: #e20000;
$border-grey: #434449;
$light-grey: #f6f6f6;
$green: #16cc5f;
$grey: #b9b9b9;
$very-dark-grey: #c1c1c1;
$light-charcoal: #9c9c9c;
$dark-charcoal: #545454;
$mobile-width: 767px;
